<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Посетитель сайта SweetMix заказал звонок</h1>
    <p>Зовут посетителя: <b><%= @call_asker[:name] %></b></p>
    <p>
      Номер телефона:<br>
      <b><%= @call_asker[:tel] %></b>
    </p>
    <p><br></p>
    <p><br></p>
    <p>Робот сайта SweetMix желает вам хорошего дня, благодарит вас за работу и напоминает, что какой бы клиент ни был, нужно относиться к нему уважительно.</p>
  </body>
</html>