<!-- .holder.content
  - unless @page.nil?
    == @page.body -->

<div class="main" role="content">
  <div class="slider_wrap wrap">
    <div class="slider_viewport">
      <ul class="sliders">
        <li class="slide bg1">
          <div class="slide_text">
            <h1 class="title">Мюсли</h1>
            <h2 class="title">Мюсли, а точнее заголовок второго уровнв</h2>
            <p>
              Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания, но при этом готовиться на натуральных составляющих. Или другой текст, описывающий исключительность ваших продуктов и сайта.
            </p>
            <a href="#" class="btn">Заказать мюсли</a>
          </div>
          <div class="slide_img_wrap">
            <img src="images/slide_img.jpg" alt="img1" class="slide_img">
          </div>
        </li><li class="slide bg2"> <!-- Нельзя допускать переноса строки или пробелов между li -->
          <div class="slide_img_wrap">
            <img src="images/slide_img.jpg" alt="img1" class="slide_img">
          </div>
          <div class="slide_text">
            <h1 class="title">Выпечка</h1>
            <h2 class="title">Мюсли, а точнее заголовок второго уровня</h2>
            <p>
              Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания, но при этом готовиться на натуральных составляющих. Или другой текст, описывающий исключительность ваших продуктов и сайта.
            </p>
            <a href="#" class="btn">Заказать выпечку</a>
          </div>
        </li><li class="slide custom bg2">
          <div class="slide_text">
            <h1 class="title">Подарочные сертификаты</h1>
            <h2 class="title">Мюсли, а точнее заголовок второго уровня</h2>
            <p>
              Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания
            </p>
            <a href="#" class="btn">Заказать</a>
          </div>
          <div class="slide_img_wrap">
            <img src="images/certificates/sert_all.png" alt="img1" class="slide_img">
          </div>
          <!-- <div class="slide_img_wrap">
            <img src="images/" alt="img1" class="slide_img">
          </div> -->
        </li>
      </ul>
    </div>  
    <div class="slider_control">
      <div class="prev"></div>
      <div class="next"></div>
    </div>
    <ul class="slider_dots"></ul>
  </div>
  <div class="wrap our_products">
    <h1 class="title">Наши продукты</h1>
    <ul class="content_sitenav__list" role="navigation">
      <li class="content_sitenav__item  muesli">
        <a href="#" class="content_sitenav__link">Мюсли</a>
      </li>
      <li class="content_sitenav__item  bake">
        <a href="#" class="content_sitenav__link">Выпечка</a>
      </li>
      <li class="content_sitenav__item  icecream">
        <a href="#" class="content_sitenav__link">Мороженое</a>
      </li>
      <li class="content_sitenav__item  yogurt">
        <a href="#" class="content_sitenav__link">Йогурт</a>
      </li>
    </ul>
  </div>
  <div class="info">
    <h1 class="title">Информация</h1>
    <div class="wrap">
      <div class="info__text_wrap">
        <h2 class="title">Заголовочек</h2>
        Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания, но при этом готовиться на натуральных составляющих. Или другой текст, описывающий исключительность ваших продуктов и сайта.
      </div><div class="info__text_wrap">
        <h2 class="title">Заголовок</h2>
        Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания, но при этом готовиться на натуральных составляющих. Или другой текст, описывающий исключительность ваших продуктов и сайта.
      </div><div class="info__text_wrap">
        <h2 class="title">Текс</h2>
        Данный интернет проект нацелен на то, что каждый клиент может создать свой индивидуальный продукт, который не только удовлетворяет его желания, но при этом готовиться на натуральных составляющих. Или другой текст, описывающий исключительность ваших продуктов и сайта.
      </div>
    </div>  
  </div>
</div>