<div class="main" role="content">
  <h1 class="title">Корзина</h1>
  <div class="wrap content">
    <table class="basket_table">
      <thead class="basket_thead">
        <tr class="basket_tr">
          <td class="basket_td">Продукты</td>
          <td class="basket_td">Ингредиенты</td>
          <td class="basket_td">Вес</td>
          <td class="basket_td">Цена</td>
          <td class="basket_td">Количество</td>
          <td class="basket_td">Сумма</td>
          <td class="basket_td"><input type="submit" class="btn" value="Удалить всё"></td>
        </tr>
      </thead>
      <tbody class="basket_tbody">
        <tr class="basket_tr">
          <td class="basket_td">
            <img src="images/cake.png" alt="" class="product_pic">
            Ореховый кекс.
          </td>
          <td class="basket_td">
            <ul class="ingredients_list">
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
            </ul>
          </td>
          <td class="basket_td">
            200г
          </td>
          <td class="basket_td">
            200р
          </td>
          <td class="basket_td">
            <input type="number" id="id1" name="quantity" min="1" max="5" class="quantity_select" value="3">
          </td>
          <td class="basket_td">
            800р
          </td>
          <td class="basket_td">
            <a href="#" class="btn type2">Редактировать</a>
            <input type="submit" class="btn" value="Удалить">
          </td> 
        </tr>
        <tr class="basket_tr">
          <td class="basket_td">
            <img src="images/cake.png" alt="" class="product_pic">
            Ореховый кекс.
          </td>
          <td class="basket_td">
            <ul class="ingredients_list">
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
              <li class="ingredient"><img src="images/image_ingredient_big.png" alt="" class="basket_ingredient_pic"></li>
            </ul>
          </td>
          <td class="basket_td">
            200г
          </td>
          <td class="basket_td">
            200р
          </td>
          <td class="basket_td">
            <input type="number" id="id2" name="quantity" min="1" max="5" class="quantity_select" value="3">
          </td>
          <td class="basket_td">
            800р
          </td>
          <td class="basket_td">
            <a href="#" class="btn type2">Редактировать</a>
            <input type="submit" class="btn" value="Удалить">
          </td> 
        </tr>
      </tbody>
    </table>
    <div class="retry_order input_wrap">
      <input type="text" placeholder="Введите Email и повторите последний заказ"> <div class="btn">Повторить заказ</div>
    </div>
    <ul class="totals_list">
      <li class="total_item">Общий вес<span class="delivery_value">140г</span></li>
      <li class="total_item">Общая стоимость<span class="delivery_value">1000р</span></li>
    </ul>
    <div class="submit_wrap elems_at_sides">
      <form action="/checkout" method="GET">
      <a href="#" class="btn type2">Вернуться в магазин</a>
      <input type="submit" class="btn" value="Оформить заказ">
      </form>
    </div>
  </div>
</div>