<div class="main" role="content">
  <div class="wrap content certificates">
    <h1 class="title">Подарочные сертификаты</h1>
    <h2 class="title">Сandy cheesecake liquorice</h2>
    <p>
      Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy
    </p>
    <ul class="certificates_list">
      <li class="certificate">
        <img src="/images/certificates/sert_white.png" alt="Сертификат" class="certificate_pic">
        <input type="submit" class="btn" value="В корзину">
      </li>
      <li class="certificate">
        <img src="/images/certificates/sert_green.png" alt="Сертификат" class="certificate_pic">
        <input type="submit" class="btn" value="В корзину">
      </li>
      <li class="certificate">
        <img src="/images/certificates/sert_red.png" alt="Сертификат" class="certificate_pic">
        <input type="submit" class="btn" value="В корзину">
      </li>
    </ul>
  </div>
</div>