<div class="main" role="content">
  <div class="wrap content">
    <h1 class="title">Контактная информация</h1>
    <div class="contacts_info">
      <p>Мы компания SweetMix.</p>
      <p>Шашт сотрудники готовы вам ответить с 9:00 до 23:00</p>
      <div class="our_contacts">Наши телефоны:
        <ul class="contacts_list">
          <li class="contact"><a href="tel:1234567890">1 (234) 56-78-90</a></li>
          <li class="contact"><a href="tel:1234567890">1 (234) 56-78-90</a></li>
        </ul>
      </div>
      <p>Так же вы можете связаться с нами по e-mail:<br><a href="mailto:name@mail.ru">name@mail.ru</a></p>
    </div>
    <div class="contacts_info">
      <h2 class="title">Пишите нам!</h2>
      <div class="input_wrap fullsize">
        <label for="comment">Текст комментария:</label>
        <textarea name="comment" id="comment"></textarea>
      </div>
      <div class="input_wrap fullsize">
        <label for="email">E-mail:</label>
        <input type="text" name="email" id="email">
      </div>
      <div class="input_wrap fullsize">
        <label for="name">Ваше имя (Название организации):</label>
        <input type="text" name="name" id="name">
      </div>
      <input type="submit" value="Отправить" class="btn">
    </div>  
  </div>
</div>