<div class="main" role="content">
  <div class="wrap content delivery">
    <h1 class="title">Информация о доставке</h1>
    <p>Просьба оставлять заказы на курьерскую доставку заранее.</p>
    <p>Заказы, размещенные на сайте или по телефону, доставляются по следующей схеме:</p>
    <ul class="delivery_rules_list">
      <li class="delivery_rule">
        Если заказы были размещены до 09:00 утра желаемого дня доставки, то они могут быть доставлены в этот же день
      </li>
      <li class="delivery_rule">
        Заказы, размещенные после 09:00 утра, будут доставлены на следующий день.
      </li>
    </ul>
    <p>Доставка осуществляется по Красноярску и ближайшим районам.</p>  
    <p>Стоимость доставки составляет:</p>
    <ul class="delivery_rules_list">
      <li class="delivery_rule">
        &mdash; по городу  - 200 рублей;
      </li>
      <li class="delivery_rule">
        &mdash; Сосновоборск - 500 рублей.
      </li>
    </ul>
  </div>
</div>