<div class="main" role="content">
  <div class="wrap content">
    <h1 class="title">Наши партнеры</h1>
    <ul class="partners_list">
      <li class="partner"><img src="/images/partners/ky.png" alt="Партнер1">
      </li><li class="partner"><img src="/images/partners/k.png" alt="Партнер2">
      </li><li class="partner"><img src="/images/partners/a.png" alt="Партнер3">
      </li><li class="partner"><img src="/images/partners/m.png" alt="Партнер4">
      </li><li class="partner"><img src="/images/partners/ky.png" alt="Партнер5">
      </li><li class="partner"><img src="/images/partners/k.png" alt="Партнер6">
      </li><li class="partner"><img src="/images/partners/a.png" alt="Партнер7">
      </li><li class="partner"><img src="/images/partners/m.png" alt="Партнер8"></li>
    </ul>
  </div>
</div>