<div class="main" role="content">
  <div class="wrap content">
    <h1 class="title">Вопросы и ответы</h1>
    <ul class="questions_list">
      <li class="question_wrap">
        <div class="question">Сandy cheesecake liquorice chocolate cake gummi bears?</div>
        <div class="answer">Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy</div>
      </li>
      <li class="question_wrap">
        <div class="question">Сandy cheesecake liquorice chocolate cake gummi bears?</div>
        <div class="answer">Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy</div>
      </li>
      <li class="question_wrap">
        <div class="question">Сandy cheesecake liquorice chocolate cake gummi bears?</div>
        <div class="answer">Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy</div>
      </li>
      <li class="question_wrap">
        <div class="question">Сandy cheesecake liquorice chocolate cake gummi bears?</div>
        <div class="answer">Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy</div>
      </li>
    </ul>
  </div>
</div>