<div class="main" role="content">
  <div class="wrap content">
    <h1 class="title">Вакансии</h1>
    <ul class="vacancy_list">
      <li class="vacancy">
        <h2 class="title">Шеф-повор</h2>
        <p>
          Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy
        </p>  
      </li>
      <li class="vacancy">
        <h2 class="title">Лид-говор</h2>
        <p>
          Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy
        </p>  
      </li>
      <li class="vacancy">
        <h2 class="title">Сушист</h2>
        <p>
          Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. Chocolate bar sugar plum gummi bears jujubes candy canes gummi bears pudding biscuit. Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy
        </p>  
      </li>
    </ul>
  </div>
</div>