<div class="main" role="content">
  <div class="wrap content">
    <h1 class="title">Комментарии</h1>
    <ul class="all_comments_list">
      <li class="all_comments_item">
        <ul class="inner_comments_list">
          <li class="inner_comment">
            <div class="comment_author">Росина</div>
            <div class="comment_func">
              <time datetime="2013-09-13Т17:30" class="comment_date">Сентябрь 13,  2013 в 17:03</time>
              <span class="func_reply">Ответить</span>
              <div class="comment">
                Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. 
              </div>
            </div>
            <div class="add_comment_form">
              <h2 class="title">Добавить комментарий:</h2>
              <div class="input_wrap fullsize">
                <label for="comment">Текст комментария:</label>
                <textarea name="comment" id="comment"></textarea>
              </div>
              <div class="input_wrap">
                <label for="author_name">Ваше имя (Название организации):</label>
                <input type="text" name="author_name" id="author_name">
              </div><div class="input_wrap">
                <label for="e-mail">E-mail:</label>
                <input type="text" name="mail" id="mail">
              </div>
              <div class="input_wrap fullsize">
                <input type="submit" value="Отправить" class="btn">
              </div>
            </div>
          </li>
          <li class="inner_comment reply">
            <div class="comment_author">Паша</div>
            <div class="comment_func">
              <time datetime="2013-09-13Т17:30" class="comment_date">Сентябрь 13,  2013 в 17:03</time>
              <span class="func_reply">Ответить</span>
              <div class="comment">
                Jelly powder lollipop applicake cookie. Fruitcake chocolate toffee tiramisu ice cream. Powder sweet gingerbread danish icing cake cookie. Cotton candy
              </div>
            </div>
            <div class="add_comment_form">
              <h2 class="title">Добавить комментарий:</h2>
              <div class="input_wrap fullsize">
                <label for="comment">Текст комментария:</label>
                <textarea name="comment" id="comment"></textarea>
              </div>
              <div class="input_wrap">
                <label for="author_name">Ваше имя (Название организации):</label>
                <input type="text" name="author_name" id="author_name">
              </div><div class="input_wrap">
                <label for="e-mail">E-mail:</label>
                <input type="text" name="mail" id="mail">
              </div>
              <div class="input_wrap fullsize">
                <input type="submit" value="Отправить" class="btn">
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="all_comments_item">
        <ul class="inner_comments_list">
          <li class="inner_comment">
            <div class="comment_author">Росина</div>
            <div class="comment_func">
              <time datetime="2013-09-13Т17:30" class="comment_date">Сентябрь 13,  2013 в 17:03</time>
              <span class="func_reply">Ответить</span>
              <div class="comment">
                Сandy cheesecake liquorice chocolate cake gummi bears candy unerdwear.com. Jelly beans jelly pie unerdwear.com lollipop candy canes chupa chups. 
              </div>
            </div>
            <div class="add_comment_form">
              <h2 class="title">Добавить комментарий:</h2>
              <div class="input_wrap fullsize">
                <label for="comment">Текст комментария:</label>
                <textarea name="comment" id="comment"></textarea>
              </div>
              <div class="input_wrap">
                <label for="author_name">Ваше имя (Название организации):</label>
                <input type="text" name="author_name" id="author_name">
              </div><div class="input_wrap">
                <label for="e-mail">E-mail:</label>
                <input type="text" name="mail" id="mail">
              </div>
              <div class="input_wrap">
                <input type="submit" value="Отправить" class="btn">
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="add_comment_form current">
      <h2 class="title">Добавить комментарий:</h2>
      <div class="input_wrap fullsize">
        <label for="comment">Текст комментария:</label>
        <textarea name="comment" id="comment"></textarea>
      </div>
      <div class="input_wrap">
        <label for="author_name">Ваше имя (Название организации):</label>
        <input type="text" name="author_name" id="author_name">
      </div><div class="input_wrap">
        <label for="e-mail">E-mail:</label>
        <input type="text" name="mail" id="mail">
      </div>
      <div class="input_wrap fullsize">
        <input type="submit" value="Отправить" class="btn">
      </div>
    </div>
  </div>
</div>