/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
  color:#1b1000;
  background-color:#fff;
  padding-top:4px;
  font:18px/29px 'AcademyC', Arial, sans-serif;
  float:none !important;
  display:inline-block !important;
  border-radius:5px;
  box-shadow:inset 0 4px 0 0 rgba(0,0,0,.18);
  position:relative;
  }
/*.checkout .dk_container {
  box-shadow:inset 0 4px 0 0 rgba(0,0,0,.13);
  }*/
.dk_container:after {
  position:absolute;
  content:'';
  width:11px;
  height:8px;
  right:9px;
  top:14px;
  background: url('../images/dropkick_arr.gif') no-repeat;
  }
  .dk_container:focus {
    outline:0;
  }
  .dk_container:hover, .dk_open {
    
  }
  .dk_open {
    /* box-shadow:
      inset #f8d90f 0 0 0 2px,
      inset #c6ae0c 0 0 0 3px !important;*/
    }
  .dk_container a {
    cursor:pointer;
    text-decoration:none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  color:#1b1000 !important;
  width:100% !important;
  padding:0px 20px 0px 12px; 
  white-space:nowrap;
  z-index:3;
  /*position:relative;*/
  /*top:4px;*/
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
  .dk_toggle:hover {
  background-image: url('../images/dka.png');
  }
  .dk_open .dk_toggle{
  background-image: url('../images/dkh.png');
  }
 

.dk_open {
  z-index: 10;
}


/* The outer container of the options */
.dk_options {
  background-color: #fff;
  overflow:hidden;
  }
  .dk_options a {
    color:#1b1000;
  }
  .dk_options a:hover,
  .dk_option_current a {
    text-decoration: none;
    /*border:1px solid red;*/
  }

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height:300px;
  }

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position:relative;
  }
  .dk_container .dk_options a {
    outline:0;
   }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  padding-right:30px;
  }

.dk_open {
  position: relative;
  border-radius:5px 5px 0 0;
  box-shadow: none;
  box-shadow:inset 0 4px 0 0 rgba(0,0,0,.13), 0 0 0 1px #c8c8c8;
  }
  .dk_open .dk_options {
    display:block;
   }
  .dk_open .dk_label {
    color:inherit;
    }

.dk_options {
  margin-top:2px;
  display: none;
  box-shadow:0 0 0 1px #c8c8c8;
  position: absolute;
  right: 0;
  width: 100%;
  border-radius:0 0 5px 5px;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
    position:relative;
    top:-1px;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }
.dk_options_inner li {
  line-height:31px;
  padding-left:12px;
}
.dk_options_inner li span {
  float:right;
  margin-top:-20px;
  /*color:#696b78;*/
  margin-right:6px;
  }
.dk_options_inner li:hover, .dk_options_current {
  
  }
  .dk_options_inner li:hover {
  background:#f0f0f0;
  }  
li.dk_options_current {
  
  }  
.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
